<section class="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start bg-dark">
      <div class="container text-white">
        <div class="row gx-lg-5 align-items-center">
  
          <div class="col-lg-6 mb-5 mb-lg-0 bg-dark">
            <div class="card bg-dark">
              <div class="card-body py-5 px-md-5 bg-dark">
                <form class="align-left" asp-action="Login" asp-controller="Account" as method="post">
                    <div><h2>Login</h2></div>

                  <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" name="Email" class="form-control" />
                    <label class="form-label" for="form3Example3">Email address</label>
                  </div>
  
                  
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" name="Password" class="form-control" />
                    <label class="form-label" for="form3Example4">Password</label>
                  </div>
  
                  
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Login
                  </button>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
